@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@keyframes gradient {
  0%,
  100% {
    transform: translateY(0px) translateX(0px) scale(1);
  }
  50% {
    transform: translateY(30px) translateX(-20px) scale(1.1);
  }
}

.animate-gradient {
  animation: gradient 8s ease-in-out infinite;
}

.animation-delay-3000 {
  animation-delay: 3s;
}
